@page "/checkout"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@using MyCheeseShop.Components.Shared
@using MyCheeseShop.Context
@using MyCheeseShop.Model
@using System.ComponentModel.DataAnnotations
@attribute [Authorize]
@inject NavigationManager NavigationManager
@inject ShoppingCart ShoppingCart
@inject OrderProvider OrderProvider
@inject ProtectedSessionStorage ProtectedSessionStore




<h3> Checkout </h3>
<div class="card mb-1" style="border: 1px solid #FFD700">
        <div class="card-body" style="background-color:#0000">
        <h4 class="card-title">Order Summary</h4>
        <CartSummary />
    </div>
</div>



@code {

    private User user;
    private PaymentDetails paymentDetails;
    private EditContext editContext;
    private bool isPaying;

    private async Task MakePayment()
    {
        await StimulatePayment();

        await OrderProvider.CreateOrder(user, ShoppingCart.GetItems());
        ShoppingCart.Clear();
        NavigationManager.NavigateTo("/thankyou");
    }

    private async Task StimulatePayment()
    {
        isPaying = true;
        StateHasChanged();
        await Task.Delay(1500);
        isPaying = false;
        StateHasChanged();

    }


    private sealed class PaymentDetails
    {
        [Required]
        public string NameOnCard { get; set;}

        [Required]
        public string CardNumber { get; set; }

        [Required]
        public string ExpiryDate { get; set; }

        [Required]
        public string SecurityCode { get; set; }
    }

}
