@page "/my-orders"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Authorization
@using MyCheeseShop.Context
@inject UserProvider UserProvider
@inject OrderProvider OrderProvider
@inject AuthenticationStateProvider AuthenticationStateProvider
@attribute [Authorize]


<h3>MyCheeseShop - My Orders</h3>









@code {

}
