@page "/thankyou"
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]
@inject NavigationManager NavigationManager


<div class="card text-center">
      <div class="row justify-content-center">
           <div class="container-fluid">
               <div class="card-body d-flex flex-column">
                <img src="/img/happy_cheese.png" class="img-thumbnail mb-6" alt="...">
                  <h3 class="card-title">Purchase Complete!</h3>
                   <p class="card-text">Thank you ordering! Feel free to order more!</p>
                   <div>
                    <button @onclick="GoToHome" class="btn btn-outline-dark"> 🏠 Back To Home! </button>
                    </div>
               </div>
           </div>
      </div>
</div>

 

@code{

    public void GoToHome()
    {
        NavigationManager.NavigateTo("");
    }


}